# IDE
.idea/
.vs/

# Node Modules
node_modules/
npm-debug.log

# Foundry
*.lock
jsconfig.json
foundry

# Boilerplate
build/

# Mac Related Things
*.DS_Store

# DB related things
packs/**/CURRENT
packs/**/LO*
packs/**/MANIFEST-*
packs/**/*.ldb
packs/**/*.log